# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor/
.idea/

# Dependency directories
/!vendor

# Go specific
*.d
*.test
*.out

# End of file marker
# If you need to ignore any additional files or directories, add them below this line

coverage.out
